@use "sass:color";
/*********général********/

body {
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


/********* variables ******/
$appPadding: 1rem;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$logoAndRestoName-fontFamily :'Shrikhand',
sans-serif;

/********** Mixin ***********/
/**** bouton violet**/

@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Button-Gradient, linear-gradient(193deg, $color-primary -11.44%, $color-secondary 123.93%));
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
  height: 50px;
  width: 200px;
  border-radius: 40px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  /* Par rapport à l'animation du bouton violet*/
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;

  &:hover {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    transform: scale(1.05);
    opacity: 0.85;
  }
}

/******* header ******/
.header {
  padding: $appPadding;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;

  &_logo {
    text-align: center;
    font-family: $logoAndRestoName-fontFamily;
    font-size: 30px;
    font-weight: 400;
    margin: auto;
  }
}

/******footer******/
.footer {
  background-color: #353535;

  .container {
    display: flex;
    flex-direction: column;
    padding: $appPadding;
    gap: 1rem;

    @media (min-width:64rem) {
      padding: 2*$appPadding;
      gap: 3rem;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: 'second first';
    }
  }

  &_logo {
    color: white;
    font-family: $logoAndRestoName-fontFamily;
    font-size: 1.2rem;

    @media (min-width:64rem) {
      grid-area: first;
    }
  }

  &_list {
    list-style: none;
    padding: 0;
    margin: 0;

    @media (min-width:64rem) {
      display: flex;
      gap: 1rem;
      align-items: end;
      justify-content: flex-end;
    }
  }

  &_items {
    margin: 0.5rem 0;

    &:first-child {
      margin-top: 0;
    }

  }

  &_link {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &_icon {
    width: 1.2rem;
    margin-right: 0.5rem;
  }
}